.paddingizq{
    padding-left: 1rem;
}

.box-rim {
    -webkit-clip-path: polygon(33% 0%, 40% 8%, 100% 8%, 100% 100%, 0% 100%, 0% 60%, 0% 0%);
    clip-path: polygon(33% 0%, 40% 8%, 100% 8%, 100% 100%, 0% 100%, 0% 60%, 0% 0%);
    }
    .kardex .card-body {
        max-height: 18rem;
    }